{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body %}
    <h1>Lista kategorii</h1>

    <table class="table table-striped">
        <tbody>
            {% for category in categories %}
                <tr>
                    <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('category_new') }}" class="btn btn-primary" role="button">Utwórz nową kategorię</a>

{% endblock %}
