{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body %}
    <h1>Dodaj nową kategorię</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Dodaj" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('category_index') }}">Wróć do listy karegorii</a>
        </li>
    </ul>
{% endblock %}
